In [2]:
import pandas as pd

In [3]:
artists_webinf = pd.read_csv('./data/artists_gp6.dat', delimiter='\t')
artists_webinf.head()

,id,name,url,pictureURL
0,15353,Mĺns Zelmerlöv,http://www.last.fm/music/+noredirect/M%C4%BAns...,http://userserve-ak.last.fm/serve/252/27991077...
1,16249,PE'Z,http://www.last.fm/music/PE%27Z,http://userserve-ak.last.fm/serve/252/5118156.jpg
2,14476,Seasick Steve,http://www.last.fm/music/Seasick+Steve,http://userserve-ak.last.fm/serve/252/12712637...
3,13505,Janet & Jak Esim,http://www.last.fm/music/Janet%2B%2526%2BJak%2...,http://userserve-ak.last.fm/serve/252/37481.gif
4,17630,Eisregen,http://www.last.fm/music/Eisregen,http://userserve-ak.last.fm/serve/252/11628929...

In [4]:
# We import the data we have created with scrapping.R
artists = pd.read_csv('./data/artists_type.csv', delimiter=';', index_col=0)
artists.head(10)

,artist_id,first_music,similar_artists1,similar_artists2,similar_artists3,music_tag1,music_tag2,music_tag3,music_tag4,music_tag5
1,15353,Cara mia,0,0,0,pop,swedish,male vocalists,dance,melodifestivalen
2,16249,SAMBA DE 恋して,0,0,0,jazz,japanese,instrumental,j-jazz,samurai jazz
3,14476,You Can't Teach An Old Dog New Tricks,0,0,0,blues,blues rock,folk,singer-songwriter,country
4,13505,Yo era ninya,9064,0,0,jewish,world,sephardic,turkish,ladino
5,17630,Elektro Hexe,0,0,0,NaN,NaN,NaN,NaN,NaN
6,647,Aphrodisiac,636,637,0,greek,pop,eurovision,female vocalists,eurovision 2012
7,17842,Sorry Baby (Radio Edit),0,0,17839,indie rock,czech,rock,indie,alternative rock
8,17749,First Day of My Life (Bright Eyes cover) - Tal...,0,0,0,NaN,NaN,NaN,NaN,NaN
9,17961,The Wind-Up,0,0,0,dubstep,electronic,minimal,techno,dub
10,10143,Never Knew Love Like This Before,0,16521,0,soul,female vocalists,disco,funk,80s

In [7]:
# We import the data
user = pd.read_csv('./data/user_artists_gp6.dat', delimiter='\t').sort_values('userID')
user[user['userID'] == 505]

Empty DataFrame
Columns: [userID, artistID, weight]
Index: []

In [58]:
def get_similar_artists(userid, min_occurence=2, top=5):
    """
    This function takes an user id and return the artists that are similar
    to the one that the user listen to. 

    Arg:
        arg1: id of the user
        arg2: minimum occurence to be accepted as a similar artist
        arg3: the number of top listened artists by the user we take to get the tag
    
    Return:
        the Serie of similar artists and their occurence
    """

    # We get all the rows that contain the userid and we keep only the artistID
    v_artists_listened = user[user['userID'] == int(userid)].sort_values('weight', ascending=False)['artistID'].head(top).to_list()   
    
    # We get only the rows of 'artsts' that are in 'v_reco' and drop all the columns except the music tags.
    artists_id = pd.DataFrame(artists[artists['artist_id'].isin(v_artists_listened)])

    # We take the values of all the columns in a pandas Series
    tag_id = pd.Series(artists_id.iloc[:, 2:5].values.flatten())

    # We drop the id : 0
    tag_id = tag_id[tag_id != 0]

    # We get the occurence of the id's
    tag_id = tag_id.value_counts()

    # We return tag_id
    return tag_id[tag_id >= min_occurence]

In [68]:
for i in range(2, 300):
    userid = i

    if int(userid) in user['userID']:
        sim = get_similar_artists(userid, 4, 10)
        if len(sim) > 0:
            print("ID:", userid, "Similar artists to listen : ", sim)
    else:
        print("userID not in database")
# We keep all artists the user listen

ID: 51 Similar artists to listen :  1364    4
Name: count, dtype: int64
ID: 58 Similar artists to listen :  318    4
Name: count, dtype: int64